html, body, #root{
  margin: 0;
  padding: 0;
  height: 100%;
}

#root{
  --line-color: yellowgreen;
  --bg-color: #212121;
  --color-title-main: orangered;
  --color-title-1: orangered;
  --color-title-2: orangered;
  --color-title-3: orangered;
  --blendmode-title: lighten;
  --img-maxwidth: 250px;
}

.App{
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
}

input, button{
	outline: none;
}