.effect-page-container{
	height: 100%;
	width: 100%;
}

.content{
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	/* isolation: isolate; */
}

.content-img {
	max-width: var(--img-maxwidth);
	position: absolute;
	top: 0;
	opacity: 0;
	will-change: transform;
	object-fit: cover;
	/* filter: var(--filter-img); */
}

.content-imgs{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 0;
}

.content-title {
	font-family: forma-djr-display, sans-serif;
	font-weight: 700;
	position: relative;
	z-index: 10000;
	font-size: 22rem;
	mix-blend-mode: var(--blendmode-title);
	-webkit-text-stroke: 2px var(--color-title-main);
	text-stroke: 2px var(--color-title);
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	color: transparent;
	pointer-events: none;
}

.scroll1, .scroll2{
	-webkit-animation: scroll1 10s infinite linear;
	animation: scroll1 10s infinite linear;
}

@keyframes scroll1
{
	0%{
		transform: translateX(50%);
	}
	25%{
		-webkit-text-stroke-color: var(--color-title-1);
	}
	50%{
		-webkit-text-stroke-color: var(--color-title-2);
	}
	75%{
		-webkit-text-stroke-color: var(--color-title-3);
	}
	100%{
		transform: translateX(-50%);
	}
}

.controls{
	position: absolute;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	z-index: 2;
}

.search-img{
	width: 70%;
	position: relative;
}

.search-img input{
	outline: none;
	background: transparent;
	box-shadow: none;
	text-align: center;
	border: none;
}


.search-img input:focus, .search-img input:focus:hover{
	box-shadow: none;
	background: transparent;
}

.search-img:after{
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	display: block;
	margin-top: 5px;
	right: 0;
	background: #fff;
	transition: width .4s ease;
	-webkit-transition: width .4s ease;
  }
   
.search-img:hover:after, .search-img:focus-within:after{
	width: 100%;
	left: 0;
	background: #fff;
  }

.search-btn{
	background: transparent;
	border: none;
}
